<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <!--<section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration, sapnco"/>-->
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="audius.SAP.Gateway" ASHOST="sapgateway.swe-qs.lan" SAPROUTER="/H/saprouter.audius.de/H/" SYSNR="00" USER="SCHAEFERU" PASSWD="master" CLIENT="001" LANG="DE"/>
          <add NAME="SAP.RAC.E16" ASHOST="cpe1601" SAPROUTER="/H/saprouter.audius.de/H/155.56.59.11/H/" SYSNR="01" USER="AUDIUSGMBH" PASSWD="paloalto" CLIENT="800" LANG="DE"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>

</configuration>
