<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="usis.ApplicationService" type="usis.ApplicationServer.ApplicationServiceConfigurationSection, usis.ApplicationServer"/>
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration, sapnco"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <usis.ApplicationService>
    <applications>
      <application>
        <properties>
          <property name="usis.Framework.EventLogSource" value="usisRfcSvr"/>
        </properties>
        <snapIns>
          <snapIn type="usis.Middleware.SAP.IntermediateDocumentReceiverSnapIn, usisRfcSvr">
            <properties>
              <property name="serverName"/>
            </properties>
          </snapIn>
          <snapIn type="usis.Middleware.SAP.TestSnapIn, usisRfcSvr"/>
        </snapIns>
      </application>
    </applications>
  </usis.ApplicationService>

  <SAP.Middleware.Connector>
    <GeneralSettings defaultTraceLevel="1" traceDir="C:\tmp" traceEncoding="UTF-8" traceType="PROCESS" />
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="audius.SAP.Gateway" ASHOST="sapgateway.swe-qs.lan" SAPROUTER="/H/saprouter.audius.de/H/" SYSNR="00" USER="SCHAEFERU" PASSWD="master" CLIENT="001" LANG="DE"/>
          <!--<add
            NAME="audius.SAP.Gateway"
            ASHOST="sapgateway.swe-qs.lan"
            SAPROUTER=""
            SYSNR="00"
            USER="SCHAEFERU"
            PASSWD="master"
            CLIENT="001"
            LANG="DE"
            />-->
          <add NAME="audius.SAP.RAC" ASHOST="cpe1601" SAPROUTER="/H/saprouter.audius.de/H/155.56.59.11/H/" SYSNR="01" USER="AUDIUSGMBH" PASSWD="paloalto" CLIENT="800" LANG="DE"/>
          <!--<add
            NAME="ID3"
            USER="PM_RFC"
            PASSWD="pm_rfc"
            CLIENT="800"
            LANG="DE"
            ASHOST="192.168.100.214"
            SAPROUTER=""
            SYSNR="00"
            POOL_SIZE="15"
            MAX_POOL_SIZE="25"
            />-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add
            NAME="usis.RFC.Server"
            GWHOST="/H/saprouter.audius.de/H/sapgateway.swe-qs.lan"
            GWSERV="3300"
            PROGRAM_ID="USIS_RFC_SERVER"
            REPOSITORY_DESTINATION="audius.SAP.Gateway"
            REG_COUNT="1"/>
          <add
            NAME="usis.RFC.RAC"
            GWHOST="/H/saprouter.audius.de/H/155.56.59.11/H/cpe1601"
            GWSERV="3301"
            PROGRAM_ID="USIS_RFC_SERVER"
            REPOSITORY_DESTINATION="audius.SAP.RAC"
            REG_COUNT="1"/>
          <!--<add
            NAME="adis_ID3"
            GWHOST="192.168.100.214"
            GWSERV="3300"
            PROGRAM_ID="adis"
            REPOSITORY_DESTINATION="ID3"
            REG_COUNT="1"/>-->
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAP.Middleware.Connector>

</configuration>
