<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usis.PushNotification.Router" type="usis.Framework.Configuration.ApplicationConfigurationSection, usis.Framework.Windows" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBasicAuth">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="webHttpsBasicAuth">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="webHttps">
          <security mode="Transport" />
        </binding>
        <binding name="webHttp">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="usis.PushNotification.Web.Apns">
        <endpoint address="http://localhost/Apns.web" binding="webHttpBinding" bindingConfiguration="webHttp" contract="usis.PushNotification.IApns" />
      </service>
      <service name="usis.PushNotification.Web.ApnsRouter">
        <endpoint address="http://localhost/ApnsRouter.web" binding="webHttpBinding" bindingConfiguration="webHttpBasicAuth" contract="usis.PushNotification.IApnsRouter" />
      </service>
      <service name="usis.PushNotification.ApnsRouter">
        <endpoint address="http://localhost/ApnsRouter" binding="basicHttpBinding" contract="usis.PushNotification.IApnsRouter" />
      </service>
      <service name="usis.PushNotification.Web.Wns">
        <endpoint address="http://localhost/Wns.web" binding="webHttpBinding" contract="usis.PushNotification.IWns" />
      </service>
    </services>
  </system.serviceModel>
  <usis.PushNotification.Router>
    <snapIns>
      <snapIn type="usis.PushNotification.ApnsModuleSnapIn, usis.PushNotification.Router.APNs" />
    </snapIns>
  </usis.PushNotification.Router>
</configuration>
