<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="usis.JobEngine.Repository">
        <endpoint binding="netTcpBinding" contract="usis.JobEngine.IRepository" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8080/usis.JobEngine" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
