<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <client>
      <!--<endpoint contract="usis.FieldService.IServer" address="http://localhost/FieldService" binding="basicHttpBinding"/>-->
      <endpoint contract="usis.FieldService.IServer" address="net.tcp://localhost:8080/FieldService" binding="netTcpBinding"/>
    </client>
  </system.serviceModel>

</configuration>
