<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Test.Server.Test" behaviorConfiguration="testBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://*/Test"/>
            <!--<add baseAddress="https://*:2303/Test"/>-->
          </baseAddresses>
        </host>
        <!--<endpoint binding="basicHttpBinding" contract="Test.Interfaces.ITest"/>-->
        <endpoint binding="basicHttpsBinding" contract="Test.Interfaces.ITest"/>
      </service>
      <!--<service name="Test.Server.Test" behaviorConfiguration="testBehavior">
        <endpoint
          address="http://localhost/Test"
          binding="wsHttpBinding"
          contract="Test.Interfaces.ITest" />
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="testBehavior">
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceCredentials>
            <!--<serviceCertificate findValue="usis-svr07" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>-->
            <serviceCertificate findValue="9a12c40f89b61196d73f86524f6c63728c435dd8" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
