<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration, sapnco"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <SAP.Middleware.Connector>
    <GeneralSettings defaultTraceLevel="0" traceDir=".\log" traceEncoding="UTF-8" traceType="PROCESS" />
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add
            NAME="IDocPartner"
            ASHOST="{HOST}"
            SAPROUTER="/H/{SAPROUTER}/H/"
            SYSNR="01"
            USER="{USER}"
            PASSWD="{password}"
            CLIENT="{CLIENT}"
            LANG="DE"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add
            NAME="IDocRouter"
            GWHOST="/H/{SAPROUTER}/H/{HOST}"
            GWSERV="3301"
            PROGRAM_ID="{PROGRAM_ID}"
            REPOSITORY_DESTINATION="IDocPartner"
            REG_COUNT="1"/>
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAP.Middleware.Connector>

</configuration>