<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usis.Windows.Application" type="usis.Framework.Configuration.ApplicationConfigurationSection, usis.Framework.Windows"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <usis.Windows.Application>
    <snapIns>
      <snapIn type="usis.TestSnapIn, usis"/>
    </snapIns>
  </usis.Windows.Application>
</configuration>
